* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(54,117,197,1) 10%, rgba(204,111,224,1) 51%, rgba(230,104,255,1) 93%);
}
.form-group-login{
    width: 25%;
    height: 35rem;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #2827278a;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Sigmar", serif;
}
#username{
    margin-top: 30px;
    color: dimgray;
}

.form-gp{
    width: 100%;
    height: 30px;
    /* background-color: red; */
    border-bottom: solid dimgray 1px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: dimgray;
}
.form-gp input[type="text"]{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    color: dimgray;
    padding-left: 10px;
}
.form-gp input[type="password"]{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    color: dimgray;
    padding-left: 10px;
}

ion-icon{
    font-size: 25px;
}
.form-gps{
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
}
.form-gps a{
    text-decoration: none;
}
.form-gp-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.form-gp-btn button{
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    height: 2.5rem;
    border: 0;
    background: linear-gradient(90deg, rgba(54,117,197,1) 10%, rgba(204,111,224,1) 51%, rgba(230,104,255,1) 93%);
}
.form-gp-btn button:hover{
    color: aliceblue;
    background: linear-gradient(90deg, rgba(204,111,224,1) 21%, rgba(54,117,197,1) 48%, rgba(230,104,255,1) 93%);
}
.form-gp-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.form-icon{
    margin-top: 20px;
}
.form-icon a ion-icon{
    color: blueviolet;
}
.create{
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    height: 7rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;


}